/* ----------Mirella Bagdadi---------- */

#mirella-bagdadi {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient (180deg, #350946 20%, #992D6E);
  border: none;
  border-radius: 24px 0px ;
  text-align: center;
  font-family: 'Inter', sans serif; 
}

#mirella-bagdadi .mirella-bagdadi-foto {
  width: auto;
  padding-top: 4%;
}

#mirella-bagdadi .mirella-bagdadi-conteudo {
  color: #F4F1E1;
  font-size: 17px;
  line-height: 2;
}

#mirella-bagdadi .mirella-bagdadi-contato {
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: 0.7s transform;
}

.mirella-bagdadi-contato img {
  width: 24px;
  margin: 10px;
}

#mirella-bagdadi .mirella-bagdadi-icone:hover {
  transition: 0.7s;
  transform: scale(1.3);
}

  